@use "./colour" as *;


@keyframes colour-change {
    0% {
        color: $White;
    }
    50% {
        color: $Mercury;
    }
    100% {
        color: $Silver;
    }
}

@keyframes colour-change-reverse {
    0% {
        color: $Silver;
    }
    50% {
        color: $Mercury;
    }
    100% {
        color: $White;
    }
}