@use "./vars" as *;
@use "./colour" as *;
@use "./fonts" as *;


@mixin text-detail($size, $height, $weight) {
    font-size: $size;
    line-height: $height;
    font-weight: $weight;
}

@mixin padding-calc {
    @media (min-width: $desktop) {
        padding-left: calc((100% - #{$desktop})/2 + 128px);
        padding-right: calc((100% - #{$desktop})/2 + 128px);
    }
}

@mixin detail-spec {
    @include text-detail(13px, 18px, normal)
}

@mixin hover-animation($name) {
    &:hover {
        animation-name: $name;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
    }
}

@mixin tablet {
    @media (min-width: $tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop) {
        @content;
    }
}

@mixin title-style {
    margin: 0;
    padding: 1.5rem 1rem 1rem 0;
    color: $BandSite-Black;
    @include text-detail(24px, 32px, 600);
    @media (min-width: $tablet) {
        padding: 0.75rem 2.25rem 2.25rem 0;
        @include text-detail(36px, 44px, 600);
    }
}