// text detail 
// img?
// @media (min-width: $desktop) {
//     padding-left: calc((100% - #{$desktop})/2 + 128px);
//     padding-right: calc((100% - #{$desktop})/2 + 128px);
// }

@mixin text-detail($size, $height, $weight) {
    font-size: $size;
    line-height: $height;
    font-weight: $weight;
}