@use "./partials/global" as *;
@use "./partials/vars" as *;
@use "./partials/colour" as *;
@use "./partials/mixins" as *;
@use "./partials/keyframes" as *;
@use "./partials/fonts" as *;


.hero {
    background-image: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("/assets/Images/hero-bio.jpg");
    background-size: 100%;
    background-blend-mode: darken;
    height: auto;
    &__title {
        padding: 25% 0;
        color: $White;
        @include text-detail(7.5vw, 2rem, 600);
        padding-left: 5vw;
        margin: 0;
        @include tablet {
            @include text-detail(3.75rem, 2rem, 600);
        }
        @include desktop {
            padding-left: 10vw;
        }
    }
}

.about {
    padding: 0 5vw;
    @include tablet {
        padding: 2.25rem;
    }
    @include padding-calc;
    &__title {
        @include title-style;
    }
    &__img-container {
        width: 100%;
        height: 50vw;
        overflow: hidden;
        position: relative;
        @include tablet {
            width: auto;
            height: 40vw;
            max-height: 618.85px;
            margin: 0 3rem;
        }
        @include desktop {
            margin: 0 5.5rem;
        }
    }
    &__img {
        width: 100%;
        position: absolute;
        bottom: 0px;
        right: 0px;
    }
    &__quote {
        color: $BandSite-Black;
        @include text-detail(0.875rem, 1.375rem, 600);
        margin: 1rem 0;
        @include tablet{
            @include text-detail(1.4375rem, 2rem, 600);
            margin: 2.25rem 3rem 1rem 3rem;
            &--small {
                @include text-detail(0.9375rem, 1.375rem, 600);
                margin-top: 0
            }
        }
        @include desktop {
            margin: 2.25rem 5.5rem 1rem 5.5rem;
        }
    }
    &__subtitle {
        @extend .about__quote;
    }
    &__detail {
        @include detail-spec;
        @include tablet {
            @include text-detail(0.875rem, 1.375rem, normal);
            margin-right: 1rem;
            &-container {
                display: flex;
                margin: 0 3rem 1rem 3rem;
                @include desktop {
                    margin: 0 5.5rem 1rem 5.5rem;
                }
            }
        }
    }
}

.photos {
    background-color: $Alabaster;
    padding: 0 5vw 1rem 5vw;
    @include tablet {
        padding: 2.25rem;
        &__block {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
    @include padding-calc;
    &__title {
        @include title-style;
        padding-bottom: 0;
    }
    &__img-container {
        @extend .about__img-container;
        margin: 1rem 0;
        @include tablet {
            margin: 0;
            width: 31%;
            height: 18vw;
        }
        @include desktop {
            max-height: 200px;
            width: 32%;
        }
    }
    &__img {
        @extend .about__img;
    }
}

.comments {
    @include tablet {
        padding: 0 5vw;
    }
    @include padding-calc;
    &__title {
        @include title-style;
        padding: 1rem 5vw 1.5rem 5vw;
        @include tablet {
            padding-top: 3rem;
        }
    }
    &__block {
        display: flex;
        max-width: 700px;
        margin: 0 auto;
    }
    &__avatar {
        border-radius: 50%;
        height: 36px;
        width: 36px;
        background-image: url(/assets/Images/Mohan-muruge.jpg);
        background-size: 157%;
        background-position: 14% 0%;
        background-color: $Mercury;
        margin: 1.5rem 1rem 0 5vw ;
        &--empty {
            background-image: none;
            margin-top: 0;
        }
        @include tablet {
            height: 48px;
            width: 48px;
        }
        @include desktop {
            margin-left: 4rem;
        }
    }
    &__form {
        padding-right: 5vw;
        width: 73%;
        @include tablet {
            padding-right: 40px;
        }
        &-block {
            display: flex;
            flex-direction: column;
            padding-bottom: 1rem;
        }
        &-lable {
            @include text-detail(0.75rem, 1.375rem, normal);
            color: $Silver;
        }
        &-field {
            height: 36px;
            background-color: $Alabaster;
            border-radius: 4px;
            border: 1px solid $Mercury;
            &:active {
                border: 1px solid $BandSite-Black;
            }
            &--large {
                height: 96px;
                width: 100%;
                box-sizing: border-box;
            }
        }
        &-submit {
            @include text-detail(0.875rem, 1.375rem, normal);
            background-color: $BandSite-Black;
            color: $White;
            padding: 0.5rem 80px;
            border-radius: 5px;
            float: right;
        }
    }
    &__divider {
        height: 1px;
        border: 0;
        border-top: 1px solid $Mercury;
        margin: 1rem 5vw;
        padding: 0;
        max-width: 653px;
        @include tablet {
            margin-left: calc((100vw - #{$tablet})/2 + 38.4px);
        }
        @include desktop {
            margin-left: 230px;
            margin-right: 64px;
        }
    }
    &__comment {
        width: 73%;
        padding-right: 5vw;
        position: relative;
        @include desktop {
            padding-right: 4rem;
        }
        &-name {
            color: $BandSite-Black;
            @include text-detail(0.875rem, 1.375rem, 600);
            margin: 1rem 0;
            margin-top: 0;
            @include desktop {
                font-size: 0.9375rem;
            }
        }
        &-time {
            position: absolute;
            right: 5vw;
            top: 0px;
            @include text-detail(0.875rem, 1.375rem, normal);
            color: $Silver;
            @include desktop {
                right: 4rem;
                font-size: 0.9375rem;
            }
        }
        &-text {
            @include detail-spec;
            @include desktop {
                font-size: 0.875rem;
            }
        }
    }
}

