@font-face {
  font-family: "Avenir Next";
  src: url("../assets/Font/AvenirNextLTPro-Bold.otf") format("OpenType");
  font-weight: bold;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/Font/AvenirNextLTPro-Demi.otf") format("OpenType");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/Font/AvenirNextLTPro-Regular.otf") format("OpenType");
  font-weight: normal;
}
@-webkit-keyframes colour-change {
  0% {
    color: #FFFFFF;
  }
  50% {
    color: #e1e1e1;
  }
  100% {
    color: #AFAFAF;
  }
}
@keyframes colour-change {
  0% {
    color: #FFFFFF;
  }
  50% {
    color: #e1e1e1;
  }
  100% {
    color: #AFAFAF;
  }
}
@-webkit-keyframes colour-change-reverse {
  0% {
    color: #AFAFAF;
  }
  50% {
    color: #e1e1e1;
  }
  100% {
    color: #FFFFFF;
  }
}
@keyframes colour-change-reverse {
  0% {
    color: #AFAFAF;
  }
  50% {
    color: #e1e1e1;
  }
  100% {
    color: #FFFFFF;
  }
}
html {
  font-family: "Avenir Next", Helvetica, sans-serif;
  width: 100vw;
}

body {
  margin: 0;
}

.nav {
  width: 100vw;
  background-color: #323232;
}
.nav__title {
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  text-align: center;
  margin-top: 0;
  padding-top: 1rem;
  text-decoration: none;
  font-size: 24px;
  line-height: 32px;
  font-weight: normal;
  margin-bottom: 0.3rem;
}
@media (min-width: 768px) {
  .nav__title {
    padding-top: 1.5rem;
    padding-left: 5vw;
    margin-bottom: 0;
  }
}
@media (min-width: 1280px) {
  .nav__title {
    padding-left: 10vw;
  }
}
.nav-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}
@media (min-width: 768px) {
  .nav-bar {
    width: 19rem;
  }
}
.nav-bar__link {
  color: #AFAFAF;
  width: 50%;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
}
.nav-bar__link:hover {
  -webkit-animation-name: colour-change-reverse;
          animation-name: colour-change-reverse;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
@media (min-width: 768px) {
  .nav-bar__link {
    width: auto;
  }
}
@media (min-width: 1280px) {
  .nav-bar__link {
    padding: 0 0.5rem 0 0.5rem;
  }
}
.nav-bar__link--active {
  border-bottom: #FFFFFF 3.5px solid;
  color: #FFFFFF;
  padding: 0 0 0.625rem 0;
}
.nav-bar__link--active:hover {
  -webkit-animation-name: colour-change;
          animation-name: colour-change;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
@media (min-width: 768px) {
  .nav-bar__link--active {
    padding-bottom: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .nav-bar__link--active {
    padding: 0 0.5rem 1.5rem 0.5rem;
  }
}
@media (min-width: 768px) {
  .nav {
    display: flex;
    align-items: baseline;
  }
}

.footer {
  background-color: #323232;
  padding: 0 1rem;
}
@media (min-width: 768px) {
  .footer {
    padding: 2.25rem;
    position: relative;
  }
  .footer__section {
    display: flex;
    align-items: baseline;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding-left: calc((100% - 1280px)/2 + 128px);
    padding-right: calc((100% - 1280px)/2 + 128px);
  }
}
.footer__title {
  margin: 0;
  padding: 1.5rem 1rem 1rem 0;
  color: #323232;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .footer__title {
    padding: 0.75rem 2.25rem 2.25rem 0;
    font-size: 36px;
    line-height: 44px;
    font-weight: 600;
  }
}
.footer__icon {
  margin-right: 1.7rem;
}
.footer__detail {
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
}
.footer__detail--coloured {
  color: #e1e1e1;
}
@media (min-width: 768px) {
  .footer__detail {
    font-size: 14px;
    line-height: 22px;
    font-weight: normal;
    padding-right: 7vw;
  }
}
.footer__link {
  text-decoration: none;
  font-size: 12px;
}
.footer__ending {
  font-size: 24px;
  line-height: 32px;
  font-weight: normal;
  color: #FFFFFF;
  padding-top: 2.5rem;
  margin: 0;
}
@media (min-width: 768px) {
  .footer__ending {
    position: absolute;
    top: 1rem;
    right: 5vw;
  }
}
@media (min-width: 1280px) {
  .footer__ending {
    right: calc((100% - 1280px)/2 + 128px);
  }
}
.footer__copyright {
  font-size: 11px;
  line-height: 18px;
  font-weight: normal;
  color: #e1e1e1;
  margin: 0;
  padding: 1rem 0;
}
@media (min-width: 768px) {
  .footer__copyright {
    font-size: 13px;
    line-height: 22px;
    font-weight: normal;
    padding: 2.25rem 0;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("/assets/Images/hero-shows.jpg");
  background-size: 102%;
  background-blend-mode: darken;
  height: auto;
}
@media (min-width: 1280px) {
  .hero {
    flex-direction: row;
    align-items: center;
    padding: 10rem 0 12rem 0;
    background-position: bottom 76% right 0%;
  }
}
.hero__title {
  display: flex;
  flex-direction: column;
  width: 64vw;
  color: #FFFFFF;
  font-size: 7.5vw;
  line-height: 10vw;
  font-weight: 600;
  padding-left: 5vw;
  margin: 0;
}
@media (min-width: 768px) {
  .hero__title {
    font-size: 60px;
    line-height: 76px;
    font-weight: 600;
    width: 510px;
  }
}
@media (min-width: 1280px) {
  .hero__title {
    padding-left: 10vw;
    width: 505px;
    padding-bottom: 25%;
  }
}
.hero__subtitle {
  color: #FFFFFF;
  padding: 10% 0 0 5vw;
  margin-bottom: 1rem;
  font-size: 4vw;
  line-height: 18px;
  font-weight: normal;
}
@media (min-width: 768px) {
  .hero__subtitle {
    font-size: 30px;
    line-height: 18px;
    font-weight: normal;
  }
}
@media (min-width: 1280px) {
  .hero__subtitle {
    padding-left: 10vw;
    padding-top: 25%;
  }
}
.hero__player {
  width: calc(0.25*(100% - 320px) + 288px);
  height: 100.8px;
  padding: 5vw 5vw 10vw 5vw;
}
@media (min-width: 768px) {
  .hero__player {
    width: 400px;
    height: 140px;
  }
}
@media (min-width: 1280px) {
  .hero__player {
    padding: 0;
    padding-left: 10vw;
  }
}

@media (min-width: 768px) {
  .shows {
    padding: 1rem 2.5vw;
  }
}
@media (min-width: 1280px) {
  .shows {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .shows__superblock {
    width: 66%;
    padding: 0 3.5rem 2rem 0;
  }
}
@media (min-width: 1280px) {
  .shows {
    padding-left: calc((100% - 1280px)/2 + 128px);
    padding-right: calc((100% - 1280px)/2 + 128px);
  }
}
.shows__title {
  margin: 0;
  padding: 1.5rem 1rem 1rem 0;
  color: #323232;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  padding-left: 5vw;
}
@media (min-width: 768px) {
  .shows__title {
    padding: 0.75rem 2.25rem 2.25rem 0;
    font-size: 36px;
    line-height: 44px;
    font-weight: 600;
  }
}
@media (min-width: 768px) {
  .shows__title {
    padding-left: 2.5vw;
    padding-top: 3rem;
  }
}
@media (min-width: 1280px) {
  .shows__title {
    padding-left: 6rem;
  }
}
.shows__subtitle {
  display: flex;
  padding: 1rem 2.5vw 0 2.5vw;
  justify-content: space-between;
}
@media (min-width: 1280px) {
  .shows__subtitle {
    padding: 1rem 2rem 1rem 2rem;
  }
}
.shows__block {
  padding: 1rem 5vw 1rem 5vw;
  border-bottom: 1px solid #e1e1e1;
}
.shows__block:hover {
  background-color: #fafafa;
}
@media (min-width: 768px) {
  .shows__block {
    padding: 1rem 2.5vw 1rem 2.5vw;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}
@media (min-width: 1280px) {
  .shows__block {
    padding: 1rem 2rem 1rem 2rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.shows__subblock {
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .shows__subblock {
    padding-bottom: 0;
  }
}
.shows__detail {
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
}
@media (min-width: 768px) {
  .shows__detail {
    width: 121px;
  }
}
.shows__detail--coloured {
  color: #AFAFAF;
  font-size: 11px;
  line-height: 18px;
  font-weight: normal;
}
@media (min-width: 768px) {
  .shows__detail--coloured {
    padding-bottom: 1rem;
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
  }
}
@media (min-width: 1280px) {
  .shows__detail--coloured:first-of-type {
    padding-right: 5rem;
  }
}
.shows__detail--bold {
  font-weight: 600;
}
@media (min-width: 1280px) {
  .shows__detail--bold {
    padding-right: 5rem;
  }
}
@media (min-width: 768px) {
  .shows__detail--delete {
    display: none;
  }
}
.shows__button {
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
  width: 100%;
  background-color: #323232;
  color: #FFFFFF;
  padding: 0.5rem 0;
  border-radius: 5px;
}
@media (min-width: 768px) {
  .shows__button {
    width: 20%;
    padding: 0;
    height: 35px;
  }
}
@media (min-width: 1280px) {
  .shows__button {
    height: 40px;
    width: 150px;
    font-weight: 600;
  }
}
.shows__button--hidden {
  visibility: hidden;
}

.shows .shows__block--active {
  background-color: #AFAFAF;
}/*# sourceMappingURL=shows.css.map */