@use "./partials/global" as *;
@use "./partials/vars" as *;
@use "./partials/colour" as *;
@use "./partials/mixins" as *;
@use "./partials/keyframes" as *;
@use "./partials/fonts" as *;


.hero {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("/assets/Images/hero-shows.jpg");
    background-size: 102%;
    background-blend-mode: darken;
    height: auto;
    @include desktop {
        flex-direction: row;
        align-items: center;
        padding: 10rem 0 12rem 0;
        background-position: bottom 76% right 0%;
    }
    &__title {
        display: flex;
        flex-direction: column;
        width: 64vw;
        color: $White;
        @include text-detail(7.5vw, 10vw, 600);
        padding-left: 5vw;
        margin: 0;
        @include tablet {
            @include text-detail(60px, 76px, 600);
            width: 510px;
        }
        @include desktop {
            padding-left: 10vw;
            width: 505px;
            padding-bottom: 25%;
        }
    }
    &__subtitle {
        color: $White;
        padding: 10% 0 0 5vw;
        margin-bottom: 1rem;
        @include text-detail(4vw, 18px, normal);
        @include tablet {
            @include text-detail(30px, 18px, normal);
        }
        @include desktop {
            padding-left: 10vw;
            padding-top: 25%;
        }
    }
    &__player {
        width: calc(0.25*(100% - 320px) + 288px);
        height: 288px*0.35;
        padding: 5vw 5vw 10vw 5vw;
        @include tablet {
            width: 400px;
            height: 400px*0.35;
        }
        @include desktop {
            padding: 0;
            padding-left: 10vw;
        }
    }
}

.shows {
    @include tablet {
        padding: 1rem 2.5vw;
    }
    @include desktop {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        &__superblock {
            width: 66%;
            padding: 0 3.5rem 2rem 0;
        }
    }
    @include padding-calc;
    &__title {
        @include title-style;
        padding-left: 5vw;
        @include tablet {
            padding-left: 2.5vw;
            padding-top: 3rem;
        }
        @include desktop {
            padding-left: 6rem;
        }
    }
    &__subtitle {
        display: flex;
        padding: 1rem 2.5vw 0 2.5vw;
        justify-content: space-between;
        @include desktop {
            padding: 1rem 2rem 1rem 2rem;
        }
    }
    &__block {
        padding: 1rem 5vw 1rem 5vw;
        border-bottom: 1px solid $Mercury;
        &:hover {
            background-color: $Alabaster;
        }
        @include tablet {
            padding: 1rem 2.5vw 1rem 2.5vw;
            display: flex;
            justify-content: space-between;
            align-items: baseline;
        }
        @include desktop {
            padding: 1rem 2rem 1rem 2rem;
            width: fit-content;
        }
    }
    &__subblock {
        padding-bottom: 1rem;
        @include tablet {
            padding-bottom: 0;
        }
    }
    &__detail {
        @include text-detail(14px, 22px, normal);
        @include tablet {
            width: 121px;
        }
        &--coloured {
            color: $Silver;
            @include text-detail(11px, 18px, normal);
            @include tablet {
                padding-bottom: 1rem;
                @include text-detail(12px, 18px, normal);
            }
            @include desktop {
                &:first-of-type {
                    padding-right: 5rem;
                }
            }
        }
        &--bold {
            font-weight: 600;
            @include desktop {
                padding-right: 5rem;
            }
        }
        &--delete {
            @include tablet {
                display: none;
            }
        }
    }
    &__button {
        @include text-detail(14px, 22px, normal);
        width: 100%;
        background-color: $BandSite-Black;
        color: $White;
        padding: 0.5rem 0;
        border-radius: 5px;
        @include tablet {
            width: 20%;
            padding: 0;
            height: 35px;
        }
        @include desktop {
            height: 40px;
            width: 150px;
            font-weight: 600;
        }
        &--hidden {
            visibility: hidden;
        }

    }
}
.shows .shows__block--active {
    background-color: $Silver;
}